*-debug.log
*-error.log
/.vscode/
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
/temp
/beta
node_modules
/Retrieve-v-25/
/Seba-Retrieve/
/Seba-Retrieve-26/
/DECEMBER-RETRIEVE/
/DECEMBER-RETRIEVE-b2b/
/CPQ-RESOURCES/
/Retrieve/
/CPQ+B2B/
/B2B_Trial_v2/
/BetaCPQ/
/AllMergedProductsB2B_20200831pack/
/AllMergedProductsCPQ_20200831pack/
/MOSAIC/
/MOSAIC-31/
/CPQ-RESOURCES/
/CPQ-RESOURCES/
/CPQ-RESOURCES-single/
/enx4comms/
/enx4comms-2/
/AllMergedProductCPQcode/
/AQUA/
/MTN/
/MTN-Retrieve/
/ResourceLocations/
/NewTest/